* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fragment Mono";
  src: url(FragmentMono-Regular.woff2);
}

@font-face {
  font-family: "Fragment Mono";
  src: url(FragmentMono-Italic.woff2);
  font-style: italic;
}

html {
  background-color: black;
  color: white;
  font-family: "Fragment Mono", monospace;
  font-size: 0.875em;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

p {
  line-height: 1.5;
}

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Fragment Mono", monospace;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.25s ease;
  font-size: 4em;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accordion:after {
  content: "\002B";
  float: right;
}

.active:after {
  content: "\2212";
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
}

.panel-inner {
  padding-bottom: 45px;
}

video {
  object-fit: cover;
}

canvas {
  display: block;
}