html {
  --bg-color: #0d0d0d;
  --text-color: #f4f4f4;
}

html.light {
  --bg-color: #f4f4f4;
  --text-color: #0d0d0d;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Fragment Mono", monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

hr {
  border-top: 1px solid var(--text-color);
  opacity: 100%;
}

#theme-toggle {
  border: 0;
  padding: 0;
  background: none;
}