@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f5f5f5;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
}

