@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: theme("colors.black");
  --radius: 0.5rem;
}

html,
body {
  @apply bg-black text-white scrollbar-hide;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

video::-webkit-media-controls-fullscreen-button {
  display: block;
}

video:fullscreen {
  object-fit: contain;
  width: 100vw;
  height: 100vh;
}

